.add-group-btn {
  width: 250px;
  /* background: #2196f3; */
  color: rgb(182, 182, 182);
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
  position: relative;
  top: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(182, 182, 182);
  margin-left: 2px;
}

.add-group-btn:hover {
  color: #2196f3;
  border: 2px solid #2196f3;

}

.group-form-container {
  width: 362px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 34px;
  position: relative;
  right: 77px;
}
