*{
    box-sizing: content-box;
}

.header-menu-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: white;
    color:white;
}

.tabs-container{
    background: #132373;
    padding: 0px 10px;
    width: 100px;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    border: 1px rgb(233, 233, 233) solid;
}

.active-tab{
    background: rgb(27, 10, 64);
}