* {
  box-sizing: content-box;
}

.header-menu-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #004c8b;
  color: white;
}

.tabs-container {
  background: #004c8b;
  padding: 0px 10px;
  width: 100px;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.tabs-container:hover{
  background: #2296cc;
}

.active-tab {
  background: #03a9f4;
}

.container-close {
  position: absolute;
  left: 96%;
  top: 8px;
  cursor: pointer;
  color: rgb(155, 155, 155);
  z-index: 51;
}

.tabs-body-container {
  position: absolute;
  z-index: 30;
  background: white;
  width: 100%;
}
