* {
  box-sizing: content-box;
}

.header-menu-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #004c8b;
  color: white;
}

.tabs-container {
  background: #004c8b;
  padding: 0px 10px;
  width: 200px;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.tabs-container:hover {
  background: #2296cc;
}

.active-tab {
  background: #03a9f4;
}

.container-close {
  position: absolute;
  left: 96%;
  /* top: 8px; */
  cursor: pointer;
  color: rgb(155, 155, 155);
  z-index: 51;
}

/* .tabs-body-container {
  position: absolute;
  z-index: 30;
  background: rgb(255, 255, 255);
  width: 100%;
} */

.form-contact-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 100;
}

/* tablets */
@media only screen and (min-width: 600px) {
  .form-contact-container {
    position: absolute;
    width: 500px;
    height: 90vh;
    background: white;
    z-index: 100;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  /* .tabs-body-container {
    position: absolute;
    z-index: 30;
    background: rgb(255, 255, 255);
    width: 500px;
    height: 100vh;
  } */
}


@media only screen and (min-width: 768px) {
  .form-contact-container {
    position: absolute;
    width: 750px;
    height: 100vh;
    background: white;
    z-index: 100;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
