.addHeader {
  background-color: rgb(16, 40, 68);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.addBook {
  color: #fff;
  display: inline-flex;
  font-size: 2vw;
  margin-left: 10px;
}
.pop {
  margin-right: 20px;
  display: inline-flex;
  line-height: 80px;
}
.logout {
  margin-top: 20px;
}
.allContacts {
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 768px) {
  .addBook {
    font-size: 3vw;
  }
}
