
.home{
  width:100%;
  padding:0;
}
.logo{
  font-size:20px;
  color:white;
  float: left;
}

.layout{
  min-height: 100vh;
}
.home{
  height: 100%;
}
.home-container{
  background:white;  align-items: center;
  margin-top:20px;
  display: flex;
  justify-content: center;
  flex-direction:column
}
