/* .MuiTableRow-root .MuiTableCell-root {
  padding: 0 !important;
} */

/* tbody.MuiTableBody-root tr.MuiTableRow-root:first-of-type {
  height: 10px;
  position: absolute;
  top: -1px;
  right: 311px;
} */

/* div.MuiSelect-selectMenu {
  width: 125px;
} */

.header-top {
  font-family: "Comfortaa", cursive !important;
  text-transform: uppercase;
  font-size: 40px !important;
}

/* div .MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded {
  width: 78% !important;
} */
.MuiTableRow-root .MuiTableCell-root:last-of-type {
  padding: 0 !important;
}

.viewer {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.viewer .hero.is-success {
  background: #f2f6fa;
}
.viewer .hero .nav,
.viewer .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.viewer #avatar {
  width: 170px;
}
.viewer table.details {
  width: 100%;
}
.viewer table.details tr td {
  width: 50%;
  word-break: break-all;
}
.viewer table.details tr td:first-child {
  text-align: right;
  font-weight: bold;
}
.viewer #bio {
  margin-top: -10px;
  margin-bottom: 20px;
  text-align: fill;
  font-size: small;
  max-width: 100%;
  word-break: break-word;
}
.viewer #points {
  font-weight: bold;
}
.viewer #pronoun {
  font-size: 11px;
  opacity: 0.7;
}
.viewer .box {
  margin-top: 8rem;
}
.viewer .avatar {
  margin-top: -100px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.viewer .avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
.viewer input {
  font-weight: 300;
}
.viewer p {
  font-weight: 700;
}
.viewer p.subtitle {
  padding-top: 1rem;
}

.viewer .login-hr {
  border-bottom: 1px solid black;
}

.viewer .has-text-black {
  color: black;
}

.viewer .field {
  padding-bottom: 10px;
}

.viewer .fa {
  margin-left: 5px;
}
.viewer {
  padding: 0 !important;
}
.viewer h3 {
  display: flex;
  justify-content: center;
}

.swal2-container {
  z-index: 100000 !important;
}
.MuiTableRow-root .MuiTableCell-root:last-of-type {
  text-align: center;
}
.viewer .title.has-text-black span {
  color: #26a69a;
}

.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img {
  background-color: rgba(0, 127, 128, 0.8) !important;
}
